.env
.idea/
# pyenv local python version
.python-version

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data*/

derf/settings/local.py
derf/settings/local_test.py
derf/db.sqlite3
derf/assets/
webapp/webapp/build/
webapp/coverage/
webapp/webapp/webpack-stats.json


derf/.cache
derf/.pytest_cache
derf/.coverage
derf/coverage
derf/coverage.xml
derf/htmlcov/
derf/cover/
